@import './base/reset';

@import './helpers/variable';

@import './components/button';
@import './components/header';
@import './components/introduce';
@import './components/comming-soon';
@import './components/home-cinema';
@import './components/review';
@import './components/mobile-app';
@import './components/footer';
